<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>后台管理</title>
    <!--css样式-->
    <include file="Common/css_link"/>
</head>
<body style="height: 850px">
<!--头部-->
<include file="Common/header"/>

<!--左侧导航-->
<include file="Common/left"/>

<!--内容-->
<section class="main" >
    <div class="main-mini">首页</div>
    <div class="content index-main">
        <img src="{:c('sf_domain')}new/images/welcome.png" alt="首页"/>
    </div>
</section>

</body>
<!--js script-->
<include file="Common/js_script"/>
<script>
</script>
</html>